<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zufangwang.francis.zufangwang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:name="com.zufangwang.application.kechengpaiApp"
        android:allowBackup="true"
        android:icon="@drawable/tubiao"
        android:label="租房网"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zufangwang.activity.SplashAcitvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zufangwang.activity.MainActivity" />
        <activity android:name="com.zufangwang.activity.SearchActivity" />
        <activity android:name="com.zufangwang.activity.CourseActivity" />
        <activity android:name="com.zufangwang.activity.ChatActivity" />
        <activity android:name="com.zufangwang.activity.NotificationActivity" />
        <activity android:name="com.zufangwang.activity.AccountActivity" />
        <activity android:name="com.zufangwang.activity.AddHomeWorkActivity" />
        <activity android:name="com.zufangwang.activity.LoginActivity1">
        </activity>
        <activity android:name="com.zufangwang.activity.GoodDesActivity" />
        <activity android:name="com.zufangwang.activity.MyNotificationDesActivity" />
        <activity android:name="com.zufangwang.activity.HouseDesActivity" />
        <activity android:name="com.zufangwang.activity.HouseListActivity" />
        <activity android:name="com.zufangwang.activity.EditAccountActivity" />
        <activity android:name="com.zufangwang.activity.ReleaseHouseActivity" />
        <activity android:name="com.zufangwang.activity.ReleaseHouseDesActivity" />
        <activity android:name="com.zufangwang.activity.RentalActivity" />
        <activity android:name="com.zufangwang.activity.HouseList1Activity" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>